#gamedev{
	background:url(../img/office.jpg);
	width: 1020px;
	height: 551px;
	position: relative;
}

#pc1,
#pc2,
.character,
#popup {
	position: absolute;
}

#char1 {
	top: 321px;
	left: 325px;
}

#char2 {
	top: 383px;
	left: 215px;
}

#pc1 {
	top: 310px;
	left: 297px;
}

#pc2 {
	top: 379px;
	left: 189px;
}

#lead {
	top: 337px;
	left: 633px;
}

/*===============================*/
/* 			Popup 				*/
/*===============================*/

#popup {
	top:40px;
	left: 50%;
	width: 400px;
	padding: 20px;
	margin-left: -210px;
	background: #fff9ef;
	border: 3px solid #fedf84;
	display: none;
}


.popup__content {
	font-size: 14px;
}

.popup__button {
	display: block;
	margin: 20px auto 1px auto;
	padding: 5px 30px;
	background: -moz-linear-gradient(top, #f49f10 0%, #d78647 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f49f10 0%,#d78647 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #f49f10 0%,#d78647 100%); /* W3C */
	border: 2px solid #d78647;
	color: white;
	font-weight: bold;
}

.popup__button:hover {
	border-color: #f49f10; 
	background: -moz-linear-gradient(top, #f49f10 0%, #f49f10 70%, #d78647 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f49f10 0%, #f49f10 70%,#d78647 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #f49f10 0%, #f49f10 70%,#d78647 100%); /* W3C */	
}

.popup__button:active {
	margin-top: 21px;
	margin-bottom: 0;
}


/*===============================*/
/* 			Characters			*/
/*===============================*/

.character {
	cursor: pointer;
	padding: 10px;
}

.character:hover {
	background: url(../img/charshadow.png) 0px 0px no-repeat;	
}

/*===============================*/
/* 			Notifications  		*/
/*===============================*/

#notifications {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	bottom: 20px;
	right: 20px;
	width: 260px;
	height: 100px;
	overflow-y: scroll;
	background: #fff1d8;
	border: 1px solid #ff981b;
}

.notification {
	border-radius: 3px;
	background: rgba(255,255,255,0.5);
	font-size: 9px;
	margin: 5px 10px 10px 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f9841f;
	transition: background 0.5s;
	cursor: pointer;
}

.notification:hover {
	background: rgba(255,255,255,0.99);
}

.notification h3{
	text-align: left;
	margin: 0;
}

/*===============================*/
/* 			Development balls  		*/
/*===============================*/

.ball {
	width: 30px;
	height: 30px;
	background: red;
	background: 1px solid white;
	color: white;	

	position: absolute;
	

	transition: all 2s;
	
	animation-duration: 1s;
	animation-name: bounce;
	animation-timing-function: ease-in-out;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: bounce;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-duration: 1s;
	-moz-animation-name: bounce;
	-moz-animation-timing-function: ease-in-out;

}

@keyframes bounce {
	25% {  	
		margin-top: 15px;
	}

	75% {
		margin-top: -25px;
	}

	100% {  	
		margin-top: 0;
	}
}

@-moz-keyframes bounce {
	25% {  	
		margin-top: 15px;
	}

	75% {
		margin-top: -25px;
	}

	100% {  	
		margin-top: 0;
	}
}

@-webkit-keyframes bounce {
	25% {  	
		margin-top: 15px;
	}

	75% {
		margin-top: -25px;
	}

	100% {  	
		margin-top: 0;
	}
}
  

.ball--design {
	background: #ffa500;
}

.ball--development {
	background: #00bfff;
}

.ball--bugs {
	background: #ff6a00;
}

.ball--research {
	background: #006aff;
}