#gamedev{
	background:url(../img/office.jpg);
	width: 1020px;
	height: 551px;
	position: relative;
}

#pc1,
#pc2,
.character,
#popup {
	position: absolute;
}

#char1 {
	top: 321px;
	left: 325px;
}

#char2 {
	top: 383px;
	left: 215px;
}

#pc1 {
	top: 310px;
	left: 297px;
}

#pc2 {
	top: 379px;
	left: 189px;
}

#lead {
	top: 337px;
	left: 633px;
}

/*===============================*/
/* 			Popup 				*/
/*===============================*/

#popup {	
	bottom: 200px;
	right: 50%;
	width: 400px;
	padding: 20px;
	margin-right: -210px;
	background: #fff9ef;
	border: 3px solid #fedf84;	
	z-index: 10;
	transition: all 0.3s;
}

#popup.to-notifications {	
	bottom: 0;
	right: 0;
	margin-right: 0;
	opacity: 0;
	transform: scale(0.3);
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
}

#black-screen {
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 9;	
	background: rgba(0,0,0,0.3);
}


.popup__content {
	font-size: 14px;
}

.popup__button {
	font-size: 16px;
	display: block;
	margin: 20px auto 1px auto;
	padding: 5px 30px;
	background: -moz-linear-gradient(top, #f49f10 0%, #d78647 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f49f10 0%,#d78647 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #f49f10 0%,#d78647 100%); /* W3C */
	border: 2px solid #d78647;
	color: white;
	font-weight: bold;
}

.popup__button:hover {
	border-color: #f49f10; 
	background: -moz-linear-gradient(top, #f49f10 0%, #f49f10 70%, #d78647 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f49f10 0%, #f49f10 70%,#d78647 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #f49f10 0%, #f49f10 70%,#d78647 100%); /* W3C */	
}

.popup__button:active {
	margin-top: 21px;
	margin-bottom: 0;
}


/*===============================*/
/* 			Characters			*/
/*===============================*/

.character {
	cursor: pointer;
	padding: 10px;
}

.character:hover {
	background: url(../img/charshadow.png) 0px 0px no-repeat;	
}

/*===============================*/
/* 			Notifications  		*/
/*===============================*/

#notifications {
	position: absolute;
	padding: 0;
	margin: 0;
	list-style: none;
	bottom: 20px;
	right: 20px;
	width: 260px;
	height: 100px;
	overflow-y: scroll;
	background: #fff1d8;
	border: 1px solid #ff981b;
}

.notification {
	border-radius: 3px;
	background: rgba(255,255,255,0.5);
	font-size: 9px;
	margin: 5px 10px 10px 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f9841f;
	transition: background 0.5s;
	cursor: pointer;
}

.notification:hover {
	background: rgba(255,255,255,0.99);
}

.notification h3{
	text-align: left;
	margin: 0;
}

/*===============================*/
/* 			Development balls  		*/
/*===============================*/

.ball {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	border: 1px solid white;
	text-align: center;
	font-weight: bold;
	color: white;	
	position: absolute;
	
	transition: top 0.5s, left 0.5s;
	
	animation-duration: 1s;
	animation-name: bounce;
	animation-timing-function: ease-in-out;

	-webkit-animation-duration: 1s;
	-webkit-animation-name: bounce;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-duration: 1s;
	-moz-animation-name: bounce;
	-moz-animation-timing-function: ease-in-out;

}

@keyframes bounce {
	25% {  	
		margin-top: 15px;
	}

	75% {
		margin-top: -25px;
	}

	100% {  	
		margin-top: 0;
	}
}

@-moz-keyframes bounce {
	25% {  	
		margin-top: 15px;
	}

	75% {
		margin-top: -25px;
	}

	100% {  	
		margin-top: 0;
	}
}

@-webkit-keyframes bounce {
	25% {  	
		margin-top: 15px;
	}

	75% {
		margin-top: -25px;
	}

	100% {  	
		margin-top: 0;
	}
}
  
.ball--design {
	background: #00bfff;
	border-color: #00a8e0;
}

.ball--development {
	background: #ff6a00;
	border-color: #e05d00;
}

.ball--bugs {
	background: #ffa500;
	border-color: #e19200;
}

.ball--research {
	background: #006aff;
	border-color: #005de0;
}

/*===============================*/
/* 			Progress 	  		*/
/*===============================*/

.progress {
	width: 500px;
	height: 150px;
	margin: 0 auto;
	position: relative;
}

.progress__ball {
	width: 75px;
	height: 75px;
	line-height: 75px;
	border: 3px solid black;
	border-radius: 100%;
	text-align: center;
	font-weight: bold;
	color: white;	
	position: absolute;
	font-size: 25px;

	transition: all 0.3s;
}

.progress__bugs {
	background: #ffa500;
	border-color: #e19200;
	top: 5px;
	left:0;
}

.progress__design {
	background: #00bfff;
	border-color: #00a8e0;
	top: 50px;
	left:50px;
	z-index: 5;
}

.progress__development {
	background: #ff6a00;
	border-color: #e05d00;
	top: 50px;
	right:50px;
}

.progress__research {
	background: #006aff;
	border-color: #005de0;
	top: 5px;
	right:0;
}

.progress__game {
	position: absolute;
	width: 300px;
	top: 10px;
	left:50%;
	margin-left: -150px;
	background: rgba(255,255,255,0.7);
	border: 2px solid rgba(200,200,200,0.7);
}

.progress__game h3 {
	margin-bottom: 0;
}

.progress__game p {
	margin-top: 0;
	font-size: 14px;
	text-align: center;
}

/*========================================*/
/*			Highlight 					*/
/*========================================*/
.highlight {
	width: 78px;
	height: 78px;	
	z-index: 0;
	border-radius: 100%;		
	position: absolute;		

	animation-duration: 0.3s;
	animation-name: explode;
	animation-timing-function: ease-in-out;

	-webkit-animation-duration: 0.3s;
	-webkit-animation-name: explode;
	-webkit-animation-timing-function: ease-in-out;

	-moz-animation-duration: 0.3s;
	-moz-animation-name: explode;
	-moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes explode {
	from { box-shadow: 0 0 30px;}
	50% { box-shadow: 0 0 50px;}
	to { box-shadow: 0 0 0px;}
}

@-moz-keyframes explode {
	from { box-shadow: 0 0 30px;}
	50% { box-shadow: 0 0 50px;}
	to { box-shadow: 0 0 0px;}
}

@keyframes explode {
	from { box-shadow: 0 0 30px;}
	50% { box-shadow: 0 0 50px;}
	to { box-shadow: 0 0 0px;}
}

.highlight__bugs {
	color: #ffa500;
}

.highlight__design {
	color: #00a8e0;
}

.highlight__development {	
	color: #e05d00;
}

.highlight__research {	
	color: #005de0;
}