/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #333;
}

html {
    font-size: 67.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    background: #f2f2f2;
}

::-moz-selection {
    background: #ec4835;
    color:white;
    text-shadow: none;
}

::selection {
    background: #ec4835;
    color:white;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

h1, h2, h3 {
    text-align: center;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
}


h1 strong,
h2 strong {
    color: #89a02c;
    font-weight: normal;
}

a {
    color: #89a02c;
}

a:visited{
    color: #b1cc46;
}

a:hover {
    color: #7c9128;
}

a:active {
    color: #ec4835;
}




.container {
    width: 1020px;
    margin: 50px auto;
}
/*============Section===============*/
.section {
    margin: 80px 0;
}

/*============Intro===============*/

.intro__avatar {
    display: block;
    width: 150px;
    margin: 0 auto;
}

.intro__header {
    margin: 0;
}

.intro__subheader {
    margin-top: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*============Cover-letter===============*/

.cover-letter__content {
    width: 760px;
    margin: 0 auto;
}

/*============    CV      ===============*/

.skills {
    overflow: hidden;
}

.skill {
    float: left;
    width: 48%;
    margin: 2em 1%;
    font-size: 1.4rem;
}

.skill h3,
.skill h4 {
    text-align: left;
}

.skill h3 {
    margin-top: 0;
}

.skill h4 { 
    margin: 0;
}

.skill__image {    
    color: #333;
    font-size: 2rem;    
}

.skill__keywords {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.skill__keywords li {
    float: left;
    padding: 0 5px 0 0;
}

/*============    Experience      ===============*/
.experience {
    overflow: hidden;
    margin-bottom: 4rem;
    font-size: 1.3rem;
}

.experience__title {
    float: left;
    width: 30%;
}

.experience__header {
    text-align: left;
    margin:0;
    font-size: 1.3rem;    
    line-height: 100%;
}

.experience__dates {
    font-style: italic;
}

.experience__tasks {
    /*list-style: none;*/
    padding: 0;
    margin: 0 0 0 30%;
}

.experience__tasks li {
    float: left;
    margin-left: 5%;
    width: 45%;
    margin-bottom: 0.5rem;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}